#div1{

   background-color: blue; 
   width:600px;
   height:150px;
}



#div2{
    background-color: blueviolet;
    width:600px;
    height:150px;
    padding:50px;
    border:8px solid black;
    box-sizing:border-box;
    /* box-sizing:content-box; */

}

