#parent{

    border:1px solid rgb(183, 21, 21);
    padding:20px;
    width:50%;
    margin:100px;
    position: relative;
}

#one{

    width:100px;
    height:100px;
    background-color: blue;
    display:inline-block;
    position:fixed;
    bottom:10px;
    left:10px;
    /* bottom:50px;
    right:50px; */

}



#two{
    width:100px;
    height:100px;
    background-color: red;
    display:inline-block;
    


}

#three{

    width:100px;
    height:100px;
    background-color: green;
    display:inline-block;

}

