table{
    border:1px solid rgb(203, 198, 198);

    /* border-collapse:collapse; */

    border-collapse: collapse;
    /* border-spacing: 20px 10px ; */

    width:50%;
    table-layout:fixed;
    /* height: 50vh; */
    background-color: black;
    color: white;
    empty-cells:hide;

}


caption{
    border:1px solid rgb(12, 11, 11);
    padding:5px;
    color: black;
    height:10px;
    caption-side: bottom;
    
    
    
}

/* tr{
order:1px solid black;
} */


th{
    border:1px solid rgb(241, 236, 236);
    text-align:center;
    /* padding: 16px; */
    height: 50px;
    width: 90px;
    vertical-align: top;
    

}


td{
    border:1px solid rgb(250, 244, 244);
    height: 35px;
    width: 90px;
    text-align: center;
    vertical-align:bottom;
     
   
}
