#content{

     width:70%;
     background-color:green;
     height: 200px;
     float:left;
}




#sidebar{

     width:30%;
     background-color:rgb(142, 25, 74);
     height: 150px;
     float:left;

}

#footer{
     background-color:red;
     clear:both;
}