#sprites{
    border: 2px solid black;
    height: 190px;
    background-image:url('../Img/Screenshot\ from\ 2024-04-25\ 10-15-24.png');
    background-repeat: no-repeat;
    background-position:0px -380px;


}
