#color-box{
    border: 1px solid blue;
    background-color: brown;
    height: 200px;  width: 500px;
    
    padding: 60px;
    margin: 250px 250px;
     
    
    
}

/* img{
    opacity:0.2;
}

img:hover{
opacity: 0.8;
} */

#red-box{
    border: 1px solid black;
    width:300px;
    height:200px;
    background-color: black;
    opacity:0.3;
    margin:5px 100px;
}

#red-box:hover{
    opacity:1;
}