#responsive{
    background-color: blue;
    height:300px;
    width:80%;
    margin-left:10%;


}

@keyframes responsive{
    0%{background-color: brown;}
    100%{background-color: black;}
}



@media (min-width:600px){

    #responsive{
       
        background-color: brown;
        border-radius:100%;
        width:50%;
        margin-left: 25%;
        animation-name: responsive;
        animation-duration:3s;
        animation-iteration-count: infinite;

    }
}